* {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	background: #000;
	color: #FFF;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 10px;
	height: 100%;
	width: 100%;
	padding-top: 10%;
}
#scores {
	width: 100%;
	position: fixed;
	top: 0%;
	height:12%;
	display:none;
	border: 10px solid #8EB2FF;
}
#audience {
	width: 100%;
	position: fixed;
	top: 0%;
	height:12%;
	display:none;
	border: 10px solid #8EB2FF;
	text-align: center;
}
#scores .score {
	text-align: center;
	display: inline-block;
	height: 100%;
	padding: 10px 0;
	cursor:pointer;
	position: relative;
	transition: background 350ms, color 350ms, font-weight 350ms, visibility 350ms ;
}
#scores .score .name {
	display: block;
  position: absolute;
  top: -10px;
  background-color: #000;
  color: #8EB2FF;
	width: 80%;
	left: 10%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 200%;
  margin: auto;
	transition: background 350ms, color 350ms, font-weight 350ms, visibility 350ms ;
}
#scores .score .value {
	display: block;
	padding-top: 4px;
}
#scores.admin .score:hover,  #scores .score.active {
	background:#fff;
	font-weight: bold;
	color:#000;
	transition: background 350ms, color 350ms, font-weight 350ms ;
}
#scores.admin .score:hover .name,  #scores .score.active .name {
	background-color: #FFF;
	font-weight: normal;
}
#static-sections div {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	color: #000;
	display: none;
	z-index: 2;
	font-size: 8em;
	text-align: center;
}
/*h3 {
	display:block;
	position:fixed;
	top:0;
	height:6%;
	width:100%;
	margin:0;
	padding:0;
	text-align: center;
	font-weight: bold;
	font-family: "Century Gothic", sans-serif;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}*/
#controls {
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	padding: 0;
}
#questionShell {
	position:fixed;
	top:12%;
	width:100%;
	text-align:center;
	z-index: 101;
	width:100%;
	height:80%;
	background:darkblue;
	display:none;
	box-shadow: inset 0 0 100px rgba(0,0,0,0.8);
}
#doublePoints {
	position:fixed;
	top:12%;
	width:100%;
	text-align:center;
	z-index: 102;
	width:100%;
	height:80%;
	background:darkorange;
	cursor: pointer;
	display:none;
	box-shadow: inset 0 0 100px rgba(0,0,0,0.8);
}
#questionDisplay {
	position: absolute;
	top:12%;
	left:10%;
	height:80%;
	width:80%;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
}
.admin #questionDisplay {
	position: absolute;
	top:5%;
	left:5%;
	height:60%;
	width:90%;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
}
.admin #answerDisplay {
	position: absolute;
	top:70%;
	left:15%;
	height:25%;
	width:70%;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
	color: #FC0;
	padding: 20px;
	border-top: 3px solid #666;
}
#rebus {
	display: none;
	position:absolute;
	top:12%;
	height:80%;
	width:100%;
	z-index: 100;
	background-size:100% 100%;
	background-repeat: no-repeat;
	display: none;
	border: 10px solid #FC0;
}
.rebusBlock {
	display:inline-block;
	text-align: center;
	background:#000;
	color:#FFF;
	cursor: pointer;
	padding:20px;
}
#rebus.admin .rebusBlock:hover {
	background:#555;
}
.rebusBlock.clear {
	visibility: hidden;
}
#solution {
	text-align: center;
	font-size: 150%;
	color: #FC0;
	display: none;
}
#intermission {
	display:none;
	position:absolute;
	top:0%;
	height:100%;
	width:100%;
	text-align: center;
	background-repeat: no-repeat;
	background-clip: border-box;
}
#intermission * {
	width: 100%;
	height: 100%;
}
#categories {
	display:none;
	position:absolute;
	top:12%;
	height:80%;
	width:100%;
	text-align: center;
	border: 10px solid #FC0;
}
.categoriesColumn {
	display: inline-block;
}
.categoriesHeader {
	display:inline-block;
	text-align: center;
	background:#000;
	color:#FFF;
	cursor: pointer;
	padding:20px;
}
.categoriesOption {
	display:inline-block;
	text-align: center;
	background:#000;
	color:#FFF;
	cursor: pointer;
	padding:20px;
}
#categories.admin .categoriesOption:hover {
	background:#555;
}
.categoriesOption.clear {
	visibility: hidden;
}
#next-round {
	font-size: 180%;
	cursor: pointer;
}
#wager {
	position: absolute;
	left: 50%;
	margin-left: -107px;
	display: none;
}
#wager button {
	margin-left: 12px;
}
